[submodule "site-lisp/extensions/benchmark"]
	path = site-lisp/extensions/benchmark
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "site-lisp/extensions/awesome-tray"]
	path = site-lisp/extensions/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "site-lisp/extensions/ace-link"]
	path = site-lisp/extensions/ace-link
	url = https://github.com/abo-abo/ace-link
[submodule "site-lisp/extensions/ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "site-lisp/extensions/apel"]
	path = site-lisp/extensions/apel
	url = https://github.com/emacsmirror/apel
[submodule "site-lisp/extensions/auto-complete"]
	path = site-lisp/extensions/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "site-lisp/extensions/c-eldoc"]
	path = site-lisp/extensions/c-eldoc
	url = https://github.com/nflath/c-eldoc
[submodule "site-lisp/extensions/coffee-mode"]
	path = site-lisp/extensions/coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule "site-lisp/extensions/company-mode"]
	path = site-lisp/extensions/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "site-lisp/extensions/dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/extensions/emacs-deferred"]
	path = site-lisp/extensions/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "site-lisp/extensions/emacs-ctable"]
	path = site-lisp/extensions/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "site-lisp/extensions/emacs-go-eldoc"]
	path = site-lisp/extensions/emacs-go-eldoc
	url = https://github.com/syohex/emacs-go-eldoc
[submodule "site-lisp/extensions/emacs-jedi"]
	path = site-lisp/extensions/emacs-jedi
	url = https://github.com/tkf/emacs-jedi
[submodule "site-lisp/extensions/quickrun"]
	path = site-lisp/extensions/quickrun
	url = https://github.com/emacsorphanage/quickrun
[submodule "site-lisp/extensions/emacs-w3m"]
	path = site-lisp/extensions/emacs-w3m
	url = https://github.com/emacs-w3m/emacs-w3m
[submodule "site-lisp/extensions/emmet-mode"]
	path = site-lisp/extensions/emmet-mode
	url = https://github.com/smihica/emmet-mode
[submodule "site-lisp/extensions/expand-region.el"]
	path = site-lisp/extensions/expand-region.el
	url = https://github.com/magnars/expand-region.el
[submodule "site-lisp/extensions/flycheck"]
	path = site-lisp/extensions/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "site-lisp/extensions/go-mode.el"]
	path = site-lisp/extensions/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "site-lisp/extensions/haskell-mode"]
	path = site-lisp/extensions/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "site-lisp/extensions/helm"]
	path = site-lisp/extensions/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/extensions/iedit"]
	path = site-lisp/extensions/iedit
	url = https://github.com/victorhge/iedit
[submodule "site-lisp/extensions/inf-ruby"]
	path = site-lisp/extensions/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
[submodule "site-lisp/extensions/jade-mode"]
	path = site-lisp/extensions/jade-mode
	url = https://github.com/brianc/jade-mode
[submodule "site-lisp/extensions/magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit
[submodule "site-lisp/extensions/multiple-cursors"]
	path = site-lisp/extensions/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
[submodule "site-lisp/extensions/pdf-tools"]
	path = site-lisp/extensions/pdf-tools
	url = https://github.com/vedang/pdf-tools/
[submodule "site-lisp/extensions/popup-el"]
	path = site-lisp/extensions/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "site-lisp/extensions/python-mode"]
	path = site-lisp/extensions/python-mode
	url = https://gitlab.com/python-mode-devs/python-mode.git
[submodule "site-lisp/extensions/robe"]
	path = site-lisp/extensions/robe
	url = https://github.com/dgutov/robe
[submodule "site-lisp/extensions/rtags"]
	path = site-lisp/extensions/rtags
	url = https://github.com/Andersbakken/rtags
[submodule "site-lisp/extensions/elisp-ruby-electric"]
	path = site-lisp/extensions/elisp-ruby-electric
	url = https://github.com/ruby/elisp-ruby-electric
[submodule "site-lisp/extensions/rust-mode"]
	path = site-lisp/extensions/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "site-lisp/extensions/slime"]
	path = site-lisp/extensions/slime
	url = https://github.com/slime/slime
[submodule "site-lisp/extensions/smooth-scrolling"]
	path = site-lisp/extensions/smooth-scrolling
	url = https://github.com/aspiers/smooth-scrolling/
[submodule "site-lisp/extensions/sublimity"]
	path = site-lisp/extensions/sublimity
	url = https://github.com/zk-phi/sublimity
[submodule "site-lisp/extensions/swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper
[submodule "site-lisp/extensions/tuareg"]
	path = site-lisp/extensions/tuareg
	url = https://github.com/ocaml/tuareg
[submodule "site-lisp/extensions/vala-mode"]
	path = site-lisp/extensions/vala-mode
	url = https://github.com/rrthomas/vala-mode
[submodule "site-lisp/extensions/vdiff"]
	path = site-lisp/extensions/vdiff
	url = https://github.com/justbur/emacs-vdiff
[submodule "site-lisp/extensions/web-mode"]
	path = site-lisp/extensions/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/extensions/wrap-region"]
	path = site-lisp/extensions/wrap-region
	url = https://github.com/rejeep/wrap-region
[submodule "site-lisp/extensions/yasnippet"]
	path = site-lisp/extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "site-lisp/extensions/ztree"]
	path = site-lisp/extensions/ztree
	url = https://github.com/fourier/ztree
[submodule "site-lisp/extensions/tablist"]
	path = site-lisp/extensions/tablist
	url = https://github.com/emacsorphanage/tablist
[submodule "site-lisp/extensions/avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy
[submodule "site-lisp/extensions/emacs-async"]
	path = site-lisp/extensions/emacs-async
	url = https://github.com/jwiegley/emacs-async
